{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Register{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">
        {% if request.user.is_staff %}
            Add User
        {% else %}
            Registration
        {% endif %}
    </li>
  </ol>
</nav>

    {% if request.user.is_staff %}
        <h3>Add User</h3>
    {% else %}
        <h3>Registration</h3>
    {% endif %}

<form method="post">
    {% csrf_token %}
    {% if request.user.is_staff %}
         <input type="checkbox" name="is_verified" checked style="display: none"/>
    {% endif %}

    <div class="input-form">
        {{ form|bootstrap }}
    </div>

    <div id="login-btn">
    {% if request.user.is_staff %}
        <button type="submit" class="btn btn-success">Add</button>
    {% else %}
        <button type="submit" class="btn btn-success">Register</button>
    {% endif %}
    </div>
</form>
{% endblock %}