{% extends 'base.html' %}

{% block title %}Chapter list{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'courses' %}">Courses</a></li>
        <li class="breadcrumb-item"><a href="{% url 'edit_course' view.get_course_id %}">Edit Course</a></li>
        <li class="breadcrumb-item active" aria-current="page">Chapters</li>
    </ol>
</nav>
<h2>Chapter list</h2>

    <table id="chapterTable" class="display">
    <thead>
        <tr>
            <th>Order</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for chapter in chapters %}
            {% if chapter.course_id == view.get_course_id %}
            <tr>
                <td>{{ chapter.order_id }}</td>
                <td><a href='{% url 'edit_chapter' chapter.id %}'>{{ chapter.name }}</a></td>

            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
    </table>

    <button type="button" onclick="location.pathname='{% url 'add_chapter' view.get_course_id%}'">Add Chapter</button>
{% endblock %}

{% block js %}
    <script>
        $(document).ready( function () {
        $('#chapterTable').dataTable();
        } );

    </script>

{% endblock %}