{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}
    Edit course
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'courses' %}">Courses</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ object.course_name }}</li>
    </ol>
</nav>
    {{ form.media }}
    <script type="text/javascript" src="{% url 'jsi18n' %}" > </script>

    <h2>Edit Course</h2>

<form method="post">
    {% csrf_token %}
    <div class="input-form">
        {{ form|bootstrap }}
    </div>
    <div class="save-button">
        <button type="submit" class="btn btn-outline-primary" value="Update">Save</button>
    </div>
</form>
{% endblock %}