{% extends 'base.html' %}

{% block title %}{{ elements.type }} element list{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'courses' %}">Courses</a></li>
        <li class="breadcrumb-item"><a href="{% url 'chapters' chapter_id %}">Chapters</a></li>
        <li class="breadcrumb-item active" aria-current="page">Elements</li>

    </ol>
</nav>
<h2>Element list</h2>

    <table id="elementsTable" class="display">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for element in elements %}
            <tr>

                {% if element.te_type == 'HTML' %}
                    <td><a href='{% url 'edit_html_element' element.id %}'>{{ element.name }}</a></td>
                {% elif element.te_type == 'Reflection' %}
                    <td><a href='{% url 'edit_reflection_element' element.id %}'>{{ element.name }}</a></td>
                {% endif %}
                <td>{{ element.te_type }}</td>
                <td>{{ element.description }}</td>
                <td><form action="{% url 'delete_element' element.id%}" method="POST">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Are you sure? This will delete the element!')">Delete</button>
                    </form>
                </td>

            </tr>
        {% endfor %}
    </tbody>
    </table>

    <button type="button" onclick="location.pathname='{% url 'add_html_element' chapter_id %}'">Add HTML Element</button>
    <button type="button" onclick="location.pathname='{% url 'add_reflection_element' chapter_id %}'">Add Reflection Element</button>

{% endblock %}

{% block js %}
    <script>
        $(document).ready( function () {
        $('#elementsTable').dataTable();
        } );

    </script>

{% endblock %}