{% extends 'base.html' %}

{% block title %}{{ elements.type }} element list{% endblock %}

{% block content %}
<h2>{{ elements.type }} element list</h2>

    <table id="elementsTable" class="display">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for element in elements %}
            <tr>

                {% if request.get_full_path == "/elements/html"%}
                    <td><a href='{% url 'edit_html_element' element.id %}'>{{ element.name }}</a></td>
                {% elif request.get_full_path == "/elements/reflection"%}
                    <td><a href='{% url 'edit_reflection_element' element.id %}'>{{ element.name }}</a></td>
                {% endif %}

                <td>{{ element.description }}</td>

            </tr>
        {% endfor %}
    </tbody>
    </table>

    {% if "/elements/html" in request.get_full_path %}
        <button type="button" onclick="location.pathname='{% url 'add_html_element' view.get_course_id%}'">Add Element</button>
    {% elif "/elements/reflection" in request.get_full_path %}
        <button type="button" onclick="location.pathname='{% url 'add_reflection_element' view.get_course_id%}'">Add Element</button>
    {% endif %}
{% endblock %}

{% block js %}
    <script>
        $(document).ready( function () {
        $('#elementsTable').dataTable();
        } );

    </script>

{% endblock %}