{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>
{% if request.user.is_authenticated and request.user.is_verified == True %}
    {% if request.user.is_admin %}
        <div class="container">
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-primary" onclick="location.href = '{% url 'users' %}'">Users</button>
            <button type="button" class="btn btn-primary" onclick="location.href = '{% url 'groups' %}'">Groups</button>
            <button type="button" class="btn btn-primary" onclick="location.href = '{% url 'courses' %}'">Courses</button>
        </div>
        </div>
    {% endif %}

{% elif request.user.is_authenticated and not request.user.is_verified %}
    <p>You are not verified. Please wait to be verified by administrator.</p>
{% else %}
    <p>You are not logged in</p>
    <button type="button" class="btn btn-primary" onclick="location.href = '{% url 'login' %}'">Login</button>
{% endif %}
{% endblock %}