{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Html Element{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'courses' %}">Courses</a></li>
        <li class="breadcrumb-item"><a href="{% url 'chapters' chapter_id %}">Chapters</a></li>
        <li class="breadcrumb-item"><a href="{% url 'elements' chapter_id %}">Elements</a></li>
        <li class="breadcrumb-item active" aria-current="page">HTML</li>
    </ol>
</nav>
    {% if request.user.is_staff %}
        <h2>HTML Element</h2>
    {% else %}
        <meta http-equiv="REFRESH" content="0;url={% url 'home' %}">
    {% endif %}

<form method="post">
    {% csrf_token %}
    <div class="input-form">
    {{ form|bootstrap }}
    </div>

    <div class="save-button">
    {% if request.user.is_staff %}
        {% if 'html' in request.get_full_path %}
            <button type="submit" class="btn btn-outline-primary" value="Update">Save</button>
        {% elif 'add_html' in request.get_full_path %}
            <button type="submit" class="btn btn-outline-success">Add</button>
        {% endif %}
    {% endif %}
    </div>

</form>
{% endblock %}