{% extends 'base.html' %}

{% block title %}Html Element{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'courses' %}">Courses</a></li>
        <li class="breadcrumb-item"><a href="{% url 'edit_course' course_id %}">Edit Course</a></li>
        <li class="breadcrumb-item"><a href="{% url 'elements' course_id %}">Elements</a></li>
        {% if "html" in request.get_full_path %}
            <li class="breadcrumb-item active" aria-current="page">HTML</li>
        {% elif "reflection" in request.get_full_path %}
            <li class="breadcrumb-item active" aria-current="page">Reflection</li>
        {% endif %}
    </ol>
</nav>
    {% if request.user.is_staff %}
        <h2>Html Element</h2>
    {% else %}
        <meta http-equiv="REFRESH" content="0;url={% url 'home' %}">
    {% endif %}

<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    {% if request.user.is_staff %}
        {% if 'edit_element' in request.get_full_path %}
            <button type="submit" value="Update">Save</button>
        {% elif 'add' in request.get_full_path %}
            <button type="submit">Add</button>
        {% endif %}
    {% endif %}

</form>
{% endblock %}