{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div id="student-home" class="row">
    <div class="course-list col-3 list-group">
      <div class="group-section" v-for="result in results">
        <a href="#" class="list-group-item list-group-item-success">Group: [[result.group_name]]</a>
        <a href="#" class="list-group-item list-group-item-action" v-for="course in result.courses_set">[[course.course_name]]</a>
      </div>
    </div>

    <div id="main-window" class="container-fluid col-9">
      <p>course desc.</p>
    </div>
  </div>

{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static "dist/js/student/anton.bundle.min.js" %}"></script>
{% endblock %}